{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">


</head>
<body>
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <a href="profile">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <h1>Dashboard</h1>
    <a href="create_mission">Create Space Mission</a>
    <a href="space_missions">Space Missions</a>
    <a href="user_missions">User Missions</a>
    <a href="training_view">User Trainings</a>
    
    {% if err_msg %}
        <p style="color: red;">{{ err_msg }}</p>
    {% endif %}
</body>
</html>
