{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <style>
        body {
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="dashboard">Dashboard</a>
        <a class="navbar-brand" href="profile">Profile</a>
        <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="container bg-white rounded p-4 mt-4 mb-4">
        <h1 class="text-center">Dashboard</h1>
        {% if user_role == "admin" %}
            <ul class="list-group mt-4">
                <li class="list-group-item"><a href="system_report?report_type=most_expensive_mission">Find Most Expensive Mission</a></li>
                <li class="list-group-item"><a href="system_report?report_type=mission_with_most_astronauts">Find The Mission With Most Astronauts</a></li>
                <li class="list-group-item"><a href="system_report?report_type=most_active_creator_company">Find The Company With Most Amount Of Created Missions</a></li>
                <li class="list-group-item"><a href="system_report?report_type=most_active_executor_company">Find The Company With Most Number Of Performing Missions</a></li>
                <li class="list-group-item"><a href="system_report?report_type=mission_with_highest_bid">Find The Mission With Current Highest Bid</a></li>
            </ul>
        {% elif user_role == "astronaut" %}
            <div class="text-center mt-4">
                <a class="btn btn-primary" href="space_missions">Space Missions</a>
                <a class="btn btn-primary" href="user_missions">User Missions</a>
                <a class="btn btn-primary" href="training_view">User Trainings</a>
            </div>
        {% else %}
            <div class="text-center mt-4">
                <a class="btn btn-primary" href="create_mission">Create Space Mission</a>
                <a class="btn btn-primary" href="space_missions">Space Missions</a>
                <a class="btn btn-primary" href="user_missions">User Missions</a>
            </div>
        {% endif %}

        {% if err_msg %}
            <p class="text-danger">{{ err_msg }}</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        function createStar() {
            const star = document.createElement('div');
            star.classList.add('star');
            star.style.width = `${randomInRange(1, 4)}px`;
            star.style.height = star.style.width;
            star.style.top = `${randomInRange(0, 100)}%`;
            star.style.left = `${randomInRange(0, 100)}%`;
            star.style.animationDuration = `${randomInRange(4, 12)}s`;
            return star;
        }

        const numStars = 1000; // Adjust as needed
        const body = document.querySelector('body');
        for (let i = 0; i < numStars; i++) {
            const star = createStar();
            body.appendChild(star);
        }
    </script>
</body>
</html>