{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Missions</title>

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

</head>
<body>
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <a href="profile">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <h1>Place Bid</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Destination</th>
            <th>Astro Count</th>
        </tr>
        <tr>
            <td>{{mission.1}}</td>
            <td>{{mission.2}}</td>
            <td>{{mission.3}}</td>
            <td>{{mission.4}}</td>
        </tr>
    </table>
    
    <form action="{% url 'place_bid' %}" method="post">
        {% csrf_token %}
        <label for="bid_amount">Bid: </label>
        <input type="hidden" name="mission_id" value="{{mission.id}}">
        <input type="number" step="0.01" name="bid_amount">
        <button type="submit">Bid</button>
    </form>

    {% if err_msg %}
        <p style="color: red;">{{ err_msg }}</p>
    {% endif %}
</body>
</html>