{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}"> 
    <style>
        body {
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="dashboard">Dashboard</a>
        <a class="navbar-brand" href="profile">Profile</a>
        <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="container bg-white rounded p-4 mt-4 mb-4">
        <h1 class="text-center">User Profile</h1>
        {% if error_message %}
            <p class="text-danger">{{ error_message }}</p>
        {% endif %}
        <h2>User Information</h2>
        {% if role == "admin" %}
            <h3>Email: {{profile.admin_email}}</h3>
        {%elif role == "astronaut"%}
            <h3>Email: {{profile.astro_email}}</h3>
            <form action="{% url 'update_field' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="astro_name">Name</label>
                    <input type="text" id="astro_name" name="astro_name" value="{{ profile.astro_name }}">
                </div>
                <div class="form-group">
                    <label for="astro_age">Age</label>
                    <input type="text" id="astro_age" name="astro_age" value="{{ profile.astro_age }}">
                </div>
                <div class="form-group">
                    <label for="astro_height">Height</label>
                    <input type="text" id="astro_height" name="astro_height" value="{{ profile.astro_height }}">
                </div>
                <div class="form-group">
                    <label for="astro_weight">Weight</label>
                    <input type="text" id="astro_weight" name="astro_weight" value="{{ profile.astro_weight }}">
                </div>
                <div class="form-group">
                    <label for="astro_experience">Experience</label>
                    <select id="astro_experience" name="astro_experience">
                        <option value="JR" {% if profile.astro_experience == 'JR' %}selected{% endif %}>JR</option>
                        <option value="SR" {% if profile.astro_experience == 'SR' %}selected{% endif %}>SR</option>
                        <option value="GM" {% if profile.astro_experience == 'GM' %}selected{% endif %}>GM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="astro_nationality">Nationality</label>
                    <input type="text" id="astro_nationality" name="astro_nationality" value="{{ profile.astro_nationality }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>    
        {% elif role == "company" %}
            <h3>Email: {{profile.c_email}}</h3>
            <form action="{% url 'update_field' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="c_name">Name</label>
                    <input type="text" id="c_name" name="c_name" value="{{ profile.c_name }}">
                </div>
                <div class="form-group">
                    <label for="c_emply_cnt">Employee Count</label>
                    <input type="text" id="c_emply_cnt" name="c_emply_cnt" value="{{ profile.c_emply_cnt }}">
                </div>
                <div class="form-group">
                    <label for="c_country_origin">Country of Origin</label>
                    <input type="text" id="c_country_origin" name="c_country_origin" value="{{ profile.c_country_origin }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>

            <div class="bank-accounts">
                <h2>Bank Accounts</h2>
                <a href="{% url 'get_bank_account' %}" class="button">View Bank Accounts</a>
            </div>
        {% endif %}


    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function updateField(fieldName) {
            var inputValue = prompt("Enter new value for " + fieldName);
            if (inputValue !== null) {
                document.getElementById(fieldName + "-input").value = inputValue;
                document.getElementById(fieldName + "-form").submit();
            }
        }
    </script>
    <script>
        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        function createStar() {
            const star = document.createElement('div');
            star.classList.add('star');
            star.style.width = `${randomInRange(1, 4)}px`;
            star.style.height = star.style.width;
            star.style.top = `${randomInRange(0, 100)}%`;
            star.style.left = `${randomInRange(0, 100)}%`;
            star.style.animationDuration = `${randomInRange(4, 12)}s`;
            return star;
        }

        const numStars = 1000; // Adjust as needed
        const body = document.querySelector('body');
        for (let i = 0; i < numStars; i++) {
            const star = createStar();
            body.appendChild(star);
        }
    </script>
</body>
</html>