{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
</head>
<body>
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <a href="profile">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {%if role == "astronaut"%}
        <h1>{{profile.astro_email}}</h1>
        <form action="{% url 'update_field' %}?field=astro_name" method="post">
            {% csrf_token %}
            <div class="form-group">
                <lable for="input">Name</label>
                <input type="text" id="input" name="input" value={{profile.astro_name}}>
                <button type="submit">Update</button>
            </div>
        </form>
        <form action="{% url 'update_field' %}?field=astro_age" method="post">
            {% csrf_token %}
            <div class="form-group">
                <lable for="input">Age</label>
                <input type="text" id="input" name="input" value={{profile.astro_age}}>
                <button type="submit">Update</button>
            </div>
        </form>
        <form action="{% url 'update_field' %}?field=astro_height" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="height">Height</label>
                <input type="text" id="input" name="input" value="{{ profile.astro_height }}">
                <button type="submit">Update</button>
            </div>
        </form>
        
        <form action="{% url 'update_field' %}?field=astro_weight" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="text" id="input" name="input" value="{{ profile.astro_weight }}">
                <button type="submit">Update</button>
            </div>
        </form>
        
        <form action="{% url 'update_field' %}?field=astro_experience" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="experience">Experience</label>
                <select id="input" name="input" >
                    <option value="JR" {% if profile.astro_experience == 'JR' %}selected{% endif %}>JR</option>
                    <option value="SR" {% if profile.astro_experience == 'SR' %}selected{% endif %}>SR</option>
                    <option value="GM" {% if profile.astro_experience == 'GM' %}selected{% endif %}>GM</option>
                </select>
                <button type="submit">Update</button>
            </div>
        </form>
        <form action="{% url 'update_field' %}?field=astro_nationality" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <input type="text" id="input" name="input" value="{{ profile.astro_nationality }}">
                <button type="submit">Update</button>
            </div>
        </form>        
    {% elif role == "company" %}
        <h1>{{profile.c_email}}</h1>
        <form action="{% url 'update_field' %}?field=c_name" method="post">
            {% csrf_token %}
            <div class="form-group">
                <lable for="input">Name</label>
                <input type="text" id="input" name="input" value={{profile.c_name}}>
                <button type="submit">Update</button>
            </div>
        </form> 
        <form action="{% url 'update_field' %}?field=c_emply_cnt" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="input">Employee Count</label>
                <input type="text" id="input" name="input" value="{{ profile.c_emply_cnt }}">
                <button type="submit">Update</button>
            </div>
        </form>
        <form action="{% url 'update_field' %}?field=c_country_origin" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="input">Country of Origin</label>
                <input type="text" id="input" name="input" value="{{ profile.c_country_origin }}">
                <button type="submit">Update</button>
            </div>
        </form>
    {% endif %}

    <div class="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <script>
        function updateField(fieldName) {
            var inputValue = prompt("Enter new value for " + fieldName);
            if (inputValue !== null) {
                document.getElementById(fieldName + "-input").value = inputValue;
                document.getElementById(fieldName + "-form").submit();
            }
        }
    </script>
</body>
</html>
