{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="left-column">
      <img src= "{% static 'images/rocket-img.jpg' %}" alt="Login Image">
    </div>
    <div class="right-column">
      <h2>Sign Up</h2>
      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>

  <script>
    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    function createStar() {
      const star = document.createElement('div');
      star.classList.add('star');
      star.style.width = `${randomInRange(1, 4)}px`;
      star.style.height = star.style.width;
      star.style.top = `${randomInRange(0, 100)}%`;
      star.style.left = `${randomInRange(0, 100)}%`;
      star.style.animationDuration = `${randomInRange(2, 6)}s`;
      return star;
    }

    const numStars = 100; // Adjust as needed
    const body = document.querySelector('body');
    for (let i = 0; i < numStars; i++) {
      const star = createStar();
      body.appendChild(star);
    }
  </script>
</body>
</html>