{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Mission</title>

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">


</head>
<body>
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <a href="profile">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <h1>Space Mission</h1>
    

    <table>
        <tr>
            <th>Mission ID</th>
            <th>Mission Name</th>
            <th>Mission Duration (Days)</th>
            <th>Destination</th>
            <th>Astronaut Amount</th>
            <th>Objective</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{mission.0}}</td>
            <td>{{mission.1}}</td>
            <td>{{mission.2}}</td>
            <td>{{mission.3}}</td>
            <td>{{mission.4}}</td>
            <td>{{mission.5}}</td>
            {%if performs_mission%}
            {%if performs_mission.2 == 'Incomplete' and is_creator%}
            <td>   
                <form action="{% url 'space_mission' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="mission_name" value="{{ mission.1 }}">
                    <select name="status" onchange="this.form.submit()">
                        <option value="Incomplete" selected>Incomplete</option>
                        <option value="Success">Success</option>
                        <option value="Failure">Failure</option>
                    </select>
                </form>
            </td>
            {%else%} {%if performs_mission.2 == 'Incomplete'%}
            <td>{{performs_mission.2}}</td>
            {%else%}
            <td>{{performs_mission.2}} (Completed)</td>
            {%endif%}
            {%endif%}
            {%else%}
            <td>In bidding</td>
            {%endif%}
            
        </tr>
    </table>

    <h1>Creator Company</h1>
    <table>
        <tr>
            <th>Company ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Employee Amount</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>{{creator.c_id}}</td>
            <td>{{creator.c_email}}</td>
            <td>{{creator.c_name}}</td>
            <td>{{creator.c_emply_cnt}}</td>
            <td>{{creator.c_country_origin}}</td>
        </tr>
    </table>

    {% if performs_mission %}
    <h1>Mission Performing Company</h1>
    <table>
        <tr>
            <th>Company ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Employee Amount</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>{{performer.c_id}}</td>
            <td>{{performer.c_email}}</td>
            <td>{{performer.c_name}}</td>
            <td>{{performer.c_emply_cnt}}</td>
            <td>{{performer.c_country_origin}}</td>
        </tr>
    </table>
    {% endif %}
    {%if is_performer%}
    <h2>Assign Astronauts to Mission</h2>
    {% if company_astros %}
    <form method="POST" action="{% url 'assign_astro' %}">
        {% csrf_token %}
        <input type="hidden" name="mission_name" value="{{ mission.1}}">
        <h3>Astronauts working for your company:</h3>
        <select name="astro_id" id="astronaut">
            {% for astro in company_astros %}
            <option value="{{ astro.0 }}">Astronaut ID: {{ astro.0 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Assign Astronaut">
    </form>
    {% else %}
    <p>No astronauts available.</p>
    {% endif %}
    {%endif%}
    
    <h1>
        Bids
    </h1>
    {%if bids%}
    <table>
        <tr>
            <th>Company Name</th>
            <th>Amount (USD)</th>
            {%if is_creator and not performs_mission%}
            <th>Accept</th>
            {%endif%}
        </tr>
        {%for bid in bids%}
        <tr>
            <td>{{bid.3}}</td>
            <td>{{bid.2}}</td>
            {%if is_creator and not performs_mission%}
            <td>
                <form action="{% url 'space_mission' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="mission_name" name="mission_name" value="{{ mission.1 }}" />
                    <input type="hidden" id="company_id" name="company_id" value="{{ bid.1 }}" />
                    <button type="submit">Accept</button>
                </form>
            </td>
            {%endif%}
        </tr>
        {%endfor%}

    </table>

    {%else%}
    <p>There are no bids yet.</p>
    {%endif%}

    <h1>Required Astronaut Trainings</h1>
    {%if sm_trainings%}
    <table>
        <tr>
            <th>Training ID</th>
            <th>Training Name</th>
            <th>Training Description</th>
        </tr>
        {%for training in sm_trainings%}
        <tr>
            <td>{{training.0}}</td>
            <td>{{training.1}}</td>
            <td>{{training.2}}</td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <p>There are no required trainings.</p>
    {%endif%}

    <h1>Assigned Astronauts</h1>
    {%if assigned_astros%}
    <table>
        <tr>
            <th>Astronaut ID</th>
            <th>Astronaut Mail</th>
        </tr>
        {%for astro in assigned_astros%}
        <tr>
            <td>{{astro.0}}</td>
            <td>{{astro.1}}</td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <p>There are no assigned astronauts.</p>
    {%endif%}

    {% if err_msg %}
        <p style="color: red;">{{ err_msg }}</p>
    {% endif %}
</body>
</html>