{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Mission</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="dashboard">Dashboard</a>
        <a class="navbar-brand" href="profile">Profile</a>
        <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
    </nav>
    <div class="container bg-white rounded p-4 mt-4 mb-4">
        <h1 class="text-center">Space Mission</h1>
    
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Mission ID</th>
                    <th>Mission Name</th>
                    <th>Mission Duration (Days)</th>
                    <th>Destination</th>
                    <th>Astronaut Amount</th>
                    <th>Objective</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                    <td>{{mission.0}}</td>
                    <td>{{mission.1}}</td>
                    <td>{{mission.2}}</td>
                    <td>{{mission.3}}</td>
                    <td>{{mission.4}}</td>
                    <td>{{mission.5}}</td>
                    {%if performs_mission%}
                    {%if performs_mission.2 == 'Incomplete' and is_creator%}
                    <td>   
                        <form action="{% url 'space_mission' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="mission_name" value="{{ mission.1 }}">
                            <select name="status" onchange="this.form.submit()">
                                <option value="Incomplete" selected>Incomplete</option>
                                <option value="Success">Success</option>
                                <option value="Failure">Failure</option>
                            </select>
                        </form>
                    </td>
                    {%else%} {%if performs_mission.2 == 'Incomplete'%}
                    <td>{{performs_mission.2}}</td>
                    {%else%}
                    <td>{{performs_mission.2}} (Completed)</td>
                    {%endif%}
                    {%endif%}
                    {%else%}
                    <td>In bidding</td>
                    {%endif%}
            </tbody>
        </table>
    
        <h1 class="text-center mt-4">Creator Company</h1>
    
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Company ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Employee Amount</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <td>{{creator.c_id}}</td>
                <td>{{creator.c_email}}</td>
                <td>{{creator.c_name}}</td>
                <td>{{creator.c_emply_cnt}}</td>
                <td>{{creator.c_country_origin}}</td>
            </tbody>
        </table>
    
        {% if performs_mission %}
        <h1 class="text-center mt-4">Mission Performing Company</h1>
    
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Company ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Employee Amount</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <td>{{performer.c_id}}</td>
                <td>{{performer.c_email}}</td>
                <td>{{performer.c_name}}</td>
                <td>{{performer.c_emply_cnt}}</td>
                <td>{{performer.c_country_origin}}</td>
            </tbody>
        </table>
        {% endif %}
    
        {%if is_performer%}
        <h2 class="text-center mt-4">Assign Astronauts to Mission</h2>
        {% if company_astros %}
        <form method="POST" action="{% url 'assign_astro' %}" class="mt-4">
            {% csrf_token %}
            <input type="hidden" name="mission_name" value="{{ mission.1}}">
            <h3>Astronauts working for your company:</h3>
            <select name="astro_id" id="astronaut" class="form-control">
                {% for astro in company_astros %}
                {% if astro not in assigned_astros %}
                    <option value="{{ astro.0 }}">Astronaut ID: {{ astro.0 }}, Astronaut Email: {{ astro.1 }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Assign Astronaut" class="btn btn-primary mt-2">
        </form>
        {% else %}
        <p class="text-center mt-4">No astronauts available.</p>
        {% endif %}
        {%endif%}

        {%if is_performer%}
        <h2 class="text-center mt-4">Fire Astronauts from Mission</h2>
        {% if assigned_astros %}
        <form method="POST" action="{% url 'fire_astro' %}" class="mt-4">
            {% csrf_token %}
            <input type="hidden" name="mission_name" value="{{ mission.1}}">
            <h3>Astronauts working in the mission:</h3>
            <select name="astro_id" id="astronaut" class="form-control">
                {% for astro in assigned_astros %}
                    <option value="{{ astro.0 }}">Astronaut ID: {{ astro.0 }}, Astronaut Email: {{ astro.1 }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Fire Astronaut" class="btn btn-primary mt-2">
        </form>
        {% else %}
        <p class="text-center mt-4">No astronauts available.</p>
        {% endif %}
        {%endif%}

        <h1 class="text-center mt-4">Bids</h1>
        {%if bids%}
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Company Name</th>
                    <th>Amount (USD)</th>
                    {%if is_creator and not performs_mission%}
                    <th>Accept</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {%for bid in bids%}
                <tr>
                    <td>{{bid.3}}</td>
                    <td>{{bid.2}}</td>
                    {%if is_creator and not performs_mission%}
                    <td>
                        <form action="{% url 'space_mission' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" id="mission_name" name="mission_name" value="{{ mission.1 }}" />
                            <input type="hidden" id="company_id" name="company_id" value="{{ bid.1 }}" />
                            <button type="submit" class="btn btn-primary">Accept</button>
                        </form>
                    </td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <p class="text-center mt-4">There are no bids yet.</p>
        {%endif%}

        <h1 class="text-center mt-4">Required Astronaut Trainings</h1>
        {%if sm_trainings%}
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Training ID</th>
                    <th>Training Name</th>
                    <th>Training Description</th>
                </tr>
            </thead>
            <tbody>
                {%for training in sm_trainings%}
                <tr>
                    <td>{{training.0}}</td>
                    <td>{{training.1}}</td>
                    <td>{{training.2}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <p class="text-center mt-4">There are no required trainings.</p>
        {%endif%}

        <h1 class="text-center mt-4">Assigned Astronauts</h1>
        {%if assigned_astros%}
            <table class="table table-striped table-bordered mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>Astronaut ID</th>
                        <th>Astronaut Mail</th>
                    </tr>
                </thead>
                <tbody>
                    {%for astro in assigned_astros%}
                    <tr>
                        <td>{{astro.0}}</td>
                        <td>{{astro.1}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
        <p class="text-center mt-4">There are no assigned astronauts.</p>
        {%endif%}
        
        {% if err_msg %}
            <p class="text-danger mt-4">{{ err_msg }}</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        function createStar() {
            const star = document.createElement('div');
            star.classList.add('star');
            star.style.width = `${randomInRange(1, 4)}px`;
            star.style.height = star.style.width;
            star.style.top = `${randomInRange(0, 100)}%`;
            star.style.left = `${randomInRange(0, 100)}%`;
            star.style.animationDuration = `${randomInRange(4, 12)}s`;
            return star;
        }

        const numStars = 1000; // Adjust as needed
        const body = document.querySelector('body');
        for (let i = 0; i < numStars; i++) {
            const star = createStar();
            body.appendChild(star);
        }
    </script>
</body>
</html>