{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usesr Missions</title>

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">


</head>
<body>
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <a href="profile">Profile</a>
    </div>

    <h3>Performing Missions</h3>
    
    <span>name,</span>
    <span>duration,</span>
    <span>destination,</span>
    <span>astroCnt,</span>
    <span>Company,</span>
    <span>Country</span><br>
    {% for mission in performing_missions %}
        <span>{{mission.0}},</span>
        <span>{{mission.1}},</span>
        <span>{{mission.2}},</span>
        <span>{{mission.3}},</span>
        <span>{{mission.4}},</span>
        <span>{{mission.5}},</span>
    {% endfor %}
    <h3>Created Missions</h3>

    <span>name,</span>
    <span>duration,</span>
    <span>destination,</span>
    <span>astroCnt,</span>
    <span>Company,</span>
    <span>Country</span><br>
    {% for mission in creating_missions %}
    <span>{{mission.0}},</span>
    <span>{{mission.1}},</span>
    <span>{{mission.2}},</span>
    <span>{{mission.3}},</span>
    <span>{{mission.4}},</span>
    <span>{{mission.5}},</span>
    {% endfor %}

    <span>{{created_missions}}
    <span>{{performing_missions}}
    <br>


    <div class="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% if err_msg %}
        <p style="color: red;">{{ err_msg }}</p>
    {% endif %}
</body>
</html>