{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Missions</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <style>
        body {
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="dashboard">Dashboard</a>
        <a class="navbar-brand" href="profile">Profile</a>
        <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="container bg-white rounded p-4 mt-4 mb-4">
        <h1 class="text-center">Performing Missions</h1>
        {% if performing_missions %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Mission ID</th>
                        <th>Mission Name</th>
                        <th>Mission Duration (Days)</th>
                        <th>Destination</th>
                        <th>Astronaut Amount</th>
                        <th>Objective</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in performing_missions %}
                    <tr>
                        <td>{{mission.0}}</td>
                        <td>{{mission.1}}</td>
                        <td>{{mission.2}}</td>
                        <td>{{mission.3}}</td>
                        <td>{{mission.4}}</td>
                        <td>{{mission.5}}</td>
                        <td>
                            <form action="{% url 'space_mission' %}" method="get">
                                {% csrf_token %}
                                <input type="hidden" id="mission_name" name="mission_name" value="{{ mission.1 }}" />
                                <button type="submit" class="btn btn-primary">View</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">No performing missions</p>
        {% endif %}

        {% if user_role == 'company' %}
            <h1 class="text-center">Created Missions</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Mission ID</th>
                        <th>Mission Name</th>
                        <th>Mission Duration (Days)</th>
                        <th>Destination</th>
                        <th>Astronaut Amount</th>
                        <th>Objective</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in created_missions %}
                    <tr>
                        <td>{{mission.0}}</td>
                        <td>{{mission.1}}</td>
                        <td>{{mission.2}}</td>
                        <td>{{mission.3}}</td>
                        <td>{{mission.4}}</td>
                        <td>{{mission.5}}</td>
                        <td>
                            <form action="{% url 'space_mission' %}" method="get">
                                {% csrf_token %}
                                <input type="hidden" id="mission_name" name="mission_name" value="{{ mission.1 }}" />
                                <button type="submit" class="btn btn-primary">View</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {%endif%}

        {% if err_msg %}
            <p class="text-danger">{{ err_msg }}</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        function createStar() {
            const star = document.createElement('div');
            star.classList.add('star');
            star.style.width = `${randomInRange(1, 4)}px`;
            star.style.height = star.style.width;
            star.style.top = `${randomInRange(0, 100)}%`;
            star.style.left = `${randomInRange(0, 100)}%`;
            star.style.animationDuration = `${randomInRange(4, 12)}s`;
            return star;
        }

        const numStars = 1000; // Adjust as needed
        const body = document.querySelector('body');
        for (let i = 0; i < numStars; i++) {
            const star = createStar();
            body.appendChild(star);
        }
    </script>
</body>
</html>